<app-common></app-common>

<div class="container my-5">
  <div class="product-card card">
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="sellerDetails(products.productId)">
      <mat-tab  label="Product Details"><div class="card-body">
        
        <p class="card-text"><strong>Product Name:</strong> {{ products.productName }}</p>
        <p class="card-text"><strong>Category:</strong> {{ products.category }}</p>
        <p class="card-text"><strong>Price:</strong> ${{ products.price }}</p>
        <p class="card-text"><strong>Description:</strong> {{ products.description }}</p>
        
      </div></mat-tab>
      <mat-tab label="Seller details">
        
        <div *ngFor="let sellerData of sellerde"  >
          <p class="card-text"><strong>UserName:</strong> {{ sellerData.username }}</p>
        <p class="card-text"><strong>FullName:</strong> {{ sellerData.fullname }}</p>
        <p class="card-text"><strong>Phone:</strong> {{ sellerData.phone }}</p>
        <p class="card-text"><strong>Email:</strong> {{ sellerData.email }}</p>

        <p *ngIf="sellerData.length == 0">Seller Not Found</p>
        </div>
        
        
        
        
        
      </mat-tab>
     
      
    </mat-tab-group>
    
  </div>

  <div class="reviews mt-4">
    <h2>Reviews</h2>
    <div *ngFor="let review of reviews" class="review">
      <h4 class="smaller-heading">Username: {{ review.username }}</h4>
      <p class="review-text">{{ review.reviews }}</p>
      <a *ngIf="review.username == this.user_sessionid" >Edit Cmt</a>
    </div>
  </div>

  <div class="comment-form mt-4">
    <h2>Leave a Review</h2>
    <form [formGroup]="review" (ngSubmit)="onPost()">
      <label for="reviews">Review:</label><br>
      <textarea id="reviews" name="reviews" rows="4" formControlName="reviews" cols="50" required></textarea><br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>




  




