<app-common></app-common>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Cart</title>
</head>
<body>
  
  <div class="cart-container">
    <table class="cart-table" *ngIf="grandTotal !='0' ">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Count</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productInfo; let i = index" class="cart-item">
          <td>{{ product.productName }}</td>
          <td>{{ product.price | currency:'USD':'symbol' }}</td>
          <td>
            <div class="count-control">
              <button (click)="decreaseCount(product.productId, product.price, product.productName)">-</button>
              <input type="number" [(ngModel)]="product.count" min="0" step="1" />
              <button (click)="increaseCount(product.productId, product.price, product.productName)">+</button>
            </div>
          </td>
          <td>{{ product.total | currency:'USD':'symbol' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><strong>Grand Total:{{ grandTotal| currency:'USD':'symbol' }}</strong></td>
        </tr>
      </tfoot>
    </table>
    <p *ngIf="grandTotal == '0'">No Item In Cart</p>
  </div>
</body>
</html>
