<h1>Sign Up</h1>
<form #form="ngForm" (ngSubmit)="addSignup()">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" [(ngModel)]="addSignupRequest.username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" [(ngModel)]="addSignupRequest.password" required>
  <br>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
  <br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

<p>Already have an account? <a [routerLink]="['/login']">Login here</a></p>
